.App {
  color: purple;
  text-align: center;
  justify-content: center;
}
.nextQues, .start{
  margin: 20px;
  padding-left: 10px;
  color: purple;
  border-color: purple;
  font-size: x-large;
}
.loading{
  margin: 50px;
}